<%= form_with scope: :container, url: search_containers_path, method: :get, local: true  do |f| %>
  <%= render 'search_form', f: f %>
<% end %>
<div class="search_result_area">
  <div class="col-sm-6 search_result_area_daily">
    <h3>日報</h3>
    <table class="table table-list sort-table">
      <thead>
        <tr>
          <th>コンテナ番号</th>
          <th>入庫日時</th>
          <th>出庫日時</th>
          <th>野菜の種類</th>
          <th>入荷元</th>
          <th>出荷先</th>
        </tr>
      </thead>
      <tbody>
        <% if !nippo_flg_check || @containers_daily.nil? %>
        <% else %>
          <% @containers_daily.each do |container| %>
            <tr>
              <td><%= container.id %></td>
              <td><%= container.entering_date %></td>
              <td><%= container.leaving_date %></td>
              <td><%= container.contents %></td>
              <td><%= container.from_place %></td>
              <td><%= container.to_place %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 search_result_area_monthly">
    <h3>月報</h3>
    <table class="table table-list sort-table">
      <thead>
        <tr>
          <th>コンテナ番号</th>
          <th>入庫日時</th>
          <th>出庫日時</th>
          <th>野菜の種類</th>
          <th>入荷元</th>
          <th>出荷先</th>
        </tr>
      </thead>
      <tbody>
        <% if !geppo_flg_check ||@containers_monthly.nil? %>
        <% else %>
          <% @containers_monthly.each do |container| %>
            <tr>
              <td><%= container.id %></td>
              <td><%= container.entering_date %></td>
              <td><%= container.leaving_date %></td>
              <td><%= container.contents %></td>
              <td><%= container.from_place %></td>
              <td><%= container.to_place %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>