<!DOCTYPE html>
<html>
  <head>
    <title>在庫照会</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-success bg-success">
      <div class="navbar-brand">コンテナ在庫照会</div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <%= render 'shared/topnav_link' %>
        </ul>
      </div>
    </div>
    <% content_for(:title) do %>
      マスタ管理
    <% end %>
    <% if content_for?(:title) %><h4 class="page_title"><%= yield :title %></h4><% end %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <!-- PC用のメニュー部分 -->
            <%= sidebar_list_items() %>
          </ul>
        </div>
        <div class="col-sm-9 col-md-offset-2 main">

          <%= yield %>
          
        </div>
      </div>
    </div>
  </body>
</html>
